.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
}

.headerSpace {
    width: 100%;
    justify-content: space-between;
}

.userIcon {
    margin: auto 0;
    display: flex;
}

.icon_content {
    color: #333;
    font-size: 26px;
    margin: auto;
    cursor: pointer;
}

.AppLayoutContent {
    min-height: calc(100vh - 134px);
    /* min-width: 768px; */
    overflow-x: auto;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    .AppLayoutContent {
        padding: 0 10px;
    }
}