.section_content {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.draggableContent:not(:last-child) {
    margin-bottom: 10px;
}

.ant-empty.ant-empty-normal {
    margin: 0;
}